html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  font-weight: 500;
  color: $main-txt-color;
  background-color: $main-bg-color;

  @media screen and (max-width: 767.98px) {
    &.mobile-menu-is-open {
      overflow: hidden;
    }
  }
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,h2,h3,p {
  margin-top: 0;
  margin-bottom: 0;
}


